.previousButton .previousIconContainer, .nextButton .nextIconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #1C1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 130px;
  position: absolute;
}
.previousButton .previousIcon {
  background-image: url('../../images/svgs/previous-icon.svg');
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
}
.nextButton .nextIcon {
  background-image: url('../../images/svgs/next-icon.svg');
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
}
.carouselIndicator {
  background-color: #010101 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  display: none;
}
.sliderContentWrapper{
  width: 70%;
  margin: auto;
  margin-top: 3rem;
}
.sliderHeading{
  font-family: 'Abhaya Libre', serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  }
.sliderProperty{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  }
.bookNowButtonWrapper{
  width: 270px;
  margin: auto;
  margin-top: 1.7rem;
}

@media only screen and (max-width:992px){
  .sliderContentWrapper{
    width: 75%;
  }
}

@media only screen and (max-width:768px){
  .sliderHeading{
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    }
  .sliderProperty{
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 1.5rem;
    }
  .bookNowButtonWrapper{
    width: 50%;
  }  
  .sliderContentWrapper{
    width: 100%;
  }
  .previousButton .previousIconContainer {
    top: 300px;
    left:190px;
  }
  .nextButton .nextIconContainer{
    top: 300px;
    right:190px
  }
}

@media only screen and (max-width:560px){
  .sliderHeading{
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    }
  .sliderProperty{
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 1rem;
    } 
  .previousButton .previousIconContainer {
    left:150px;
    top: 280px;
    }
  .nextButton .nextIconContainer{
    right:150px;
    top: 280px;
    }  
}


@media only screen and (max-width:460px){
 
  .previousButton .previousIconContainer, .nextButton .nextIconContainer {
    width: 35px;
    height: 35px;
    }
  .previousButton .previousIcon {
    width: 16px;
    height: 16px;
    }
  .nextButton .nextIcon {
    width: 16px;
    height: 16px;    
  }  

  .previousButton .previousIconContainer {
      left:120px;
      top: 270px;
    }
  .nextButton .nextIconContainer{
      right:120px;
      top: 270px;
    }   
  .sliderContentWrapper{
      margin-top: 2rem;
    }
}
@media only screen and (max-width:400px){
  .previousButton .previousIconContainer {
    left:80px;
    top: 300px;
  }
  .nextButton .nextIconContainer{
    right:80px;
    top: 300px;
  }

}