.Container {
  min-height: 100vh;
}
 /* Section # 1 */
.heroSection{
  position: relative;  
  background-image: url('../images/jpgs/Photo 2.jpg');
  
     /* background-image: url('../images/jpgs/Photo 1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6rem 0 2rem 0;
}

.heroSection::before{
  background: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    content: "";
    height: 100%;
    position: absolute;
    top: 0%;
    width: 100%;

}

.heroHeading{
  font-family: 'Abhaya Libre', serif;
  font-size: 68px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 9rem;
}
.heroParagraph{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-top: 2rem;
}
 /* Section # 1 */

/* Section # 2 */
.whoWeAreSection{
  padding: 5rem 1rem 1rem 1rem;
}
.whoWeAreWrapper{
  background-color: #F3F3F3;
}
.limoCarImage{
  width: 100%;
  height: auto;
}
.whoWeAre{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
}
.whoWeAreHeading{
  font-family: 'Abhaya Libre', serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
  margin:2rem 0;
}
.whoWeArePara{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #52575C;
}  
.contactusBtnWrapper{
  width: 270px;
  margin-top: 2.1rem;
}
/* Section # 2 */

/* Section # 4 */
.ourMissionContainer{
  background-color: #F3F3F3;
}
.ourMissionWrapper{
  padding: 4rem 1rem;
}
.ourMissionImage{
  width: 100%;
  height: auto;
}
.ourMission{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
}
.ourMissionHeading{
  font-family: 'Abhaya Libre', serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #1A1A1A;
  margin: 1.6rem 0;
}
.ourMissionPara{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #52575C;
}
.ourTraget{
  font-family: 'Abhaya Libre', serif;
  font-size: 45px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #1A1A1A;
  margin-top: 3rem;
}
.ourRides{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #52575C;
  margin-top: 0.7rem;
}
/* Section # 4 */

@media only screen and (max-width:992px){
  .heroHeading{
    margin-top: 5rem;
  }
}

@media only screen and (max-width:768px){
  .heroHeading{
    font-size: 60px;
    line-height: 65px;
  }
  .heroParagraph{
    font-size: 16px;
    line-height: 20px;
    margin-top: 1.5rem;
  }
  .whoWeAre{
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
  }
  .whoWeAreHeading{
    font-size: 40px;
    line-height: 38px;
    font-weight: 600;
    margin:1rem 0;
  }
  .whoWeArePara{
    font-size: 15px;
    line-height: 22px;
  } 
  .ourMission{
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
  }
  .ourMissionHeading{
    font-size: 42px;
    line-height: 44px;
    margin: 1.4rem 0;
  }
  .ourMissionPara{
    font-size: 16px;
    line-height: 22px;
  }
  .ourTraget{
    font-size: 40px;
    line-height: 45px;
  }
  .ourRides{
    font-size: 14px;
    margin-top: 0.5rem;
  }
}


@media only screen and (max-width:500px){
  .heroHeading{
    font-size: 45px;
    line-height: 45px;
    margin-top: 4rem;
  }
  .heroParagraph{
    font-size: 13px;
    line-height: 18px;
    margin-top: 1rem;
  }
  .whoWeAre{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
 
  .ourMission{
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
  }
  .ourMissionHeading{
    font-size: 35px;
    line-height: 42px;
    margin: 1rem 0;
  }
  .ourMissionPara{
    font-size: 14px;
    line-height: 18px;
  }
  .ourTraget{
    font-size: 36px;
    line-height: 42px;
    margin-top: 2rem;
  }
  .ourRides{
    font-size: 12px;
    margin-top: 0rem;
  }
  .contactusBtnWrapper{
    width: 200px;
    margin-top: 2.1rem;
  }
}

